* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
    
    
    
   
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: solid;
    
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dealer {
    display: flex;
    flex-direction: row; 
    
}
#player {
    display: flex;
    flex-direction: row; 
}
div.dealer-card {
    display: flex;
    height: 325px;
    width: 200px;
    align-items: center;
   justify-content: center;
   margin-right: 10px;
   border: solid;
   margin-left: 10px;
  
   
    

}
div.player-card {
    display: flex;
    height: 325px;
    width: 200px;
    align-items: center;
   justify-content: center;
   margin-right: 10px;
   border: solid;
   margin-left: 10px;
   margin-top: 10px;
  
   
   
    

}

#pcard1 {
  background-color: null;
}

#pcard2 {
  background-color: null;
}
#dealer-sum {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    border: solid;
}
#player-sum {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    border: solid;
}

#bttns {
    display: flex;
    flex-direction: column;
    
    width: 200px;
    margin: 10px 300px 0 300px;
    
}

html, * {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 4px dotted grey;
  }
  
  button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    color: grey;
    border: 1px solid grey;
    border-radius: 4px;
    outline: none;
  }
  
  button:hover {
    background-color: grey;
    color: white;
  }
