* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
    
    
    
   
}
body {
    display: flex;
    flex-direction: column;
    width: 100vmin;
    height: 100vmin;
    border: solid;
    
    
}

header{
    background-size: cover;
    margin: 0;
    height: 377px;
    background-image: url("https://i.imgur.com/jhlGOwb.jpg");
    object-fit: fill;
    text-shadow: 0px 3px black;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 75px;
    background-color: rgba(255,255,255, 0.3);
    border-bottom: solid black;
    border-top: solid black;
}

p {
    background-color: rgba(255,255,255, 0.3);
    border-bottom: solid black;
    border-top: solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 120px 0px 0px 0;
}


#player {
    display: flex;
    flex-direction: row;
    height: 275px;
    
    align-items: center;
   justify-content: center;
   
   border-top: dotted;
   
   background-color:#004D47;
}
#dealer {
    display: flex;
    flex-direction: row;
    height: 275px;
    
    align-items: center;
   justify-content: center;
   
   border-bottom: dotted;
   
   background-color:#004D47;
  
   
    

}

#pcards {
    
      height: 11em;
      display: flex;
      flex-direction: row;
}

#dcards {
   
      height: 11em;
      display: flex;
      flex-direction: row;
}

  
   
   
    



#pcard1 {
  background-color: null;
}

#pcard2 {
  background-color: null;
}
#dealer-sum {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    background-color: white;
    border: solid;
    visibility: hidden;
}
#player-sum {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    background-color: white;
    border: solid;
    visibility: hidden;
}

#bttns {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}


#bet-bttns {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 50px;
}
#bet50 {
    width: 102px;
    height: 100px;
    border-radius: 1000px;
   background-image: url("https://i.imgur.com/u6r8EjV.jpg");
   margin: 0px 10px 0px 0px;
   border: solid  black;
    
}
#bet100 {
    width: 102px;
    height: 100px;
    border-radius: 1000px;
   background-image: url("https://i.imgur.com/pcAPhvA.jpg");
   margin: 10px 0px 0px 10px;
   border:  solid black;
}
#bet-space {
    width: 102px;
    height: 100px;
    border-radius: 1000px;
   background-image: url("https://i.imgur.com/u6r8EjV.jpg");
   margin: 0px 10px 0px 0px;
   border: solid  black;
   display: flex;
   justify-content: center;
   align-items: center;
   visibility: hidden;
   box-shadow: 7px 7px 8px black;
}
card.back {
   background-image: url("../images/backs/blue.svg")
}


footer {
    
    background-image: url("https://i.imgur.com/4KT5G31.jpg");
    height: 150px;
    background-size: cover;
}

input {
    color: white;
}


html, * {
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 4px dotted grey;
  }
  
  div.card {
      width: 8.0em;
      height: 11em;
      box-shadow: 7px 7px 8px black;
  }
  
  button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 25px;
    color: grey;
    border: 1px solid grey;
    border-radius: 4px;
    outline: none;
    border-radius: 50px; 
  }
  
  button:hover {
    background-color: grey;
    color: white;
  }

  #bet50:hover {
      border: solid yellow;
      color: black;
  }

  #bet100:hover {
    border: solid yellow;
    color: white;
}
